{% extends "machina/forum/index.html" %}
{% load i18n %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/rectheme.css' %}" />
{% endblock css %}

{% block content %}
<div id="outer-box-rec">
  <a href="{% url 'search' %}" class="">{% trans "Search for Games" %}</a>
  <div class="head-rec">
    {% load show_collections %}
    <h1>Your Collections - <a href="{% url 'collection_view'%}">Manage</a></h1>
  </div>
    <div class="container-rec">
    <!-- get collections from user id, if none to show, ask user to build some -->
    {% top_collections user.id as cols %}
    {% if cols == None %}
    <p>No collections to show, <a href="{% url 'search' %}" class="">{% trans "Try searching for some?" %}</a></p>
    {% else %}
    <!-- otherwise loop through the collections and display them here -->
    {% for col_id,set in cols.items %}
      <div class="col-wrapper">
      <div class="col-card rec-card" id="">
      {% for set_id,entry in set.items %}
      <img class="game-img" src="{{ entry.image }}" />
      {% endfor %}
    </div>
        <h4 class="col-title">{{ set.0.col_name }}</h4>
      </div>
    {% endfor %}
    {% endif %}
  </div>
  {% load similarity_engine %}
  {% load template_filters %}
  {% similarity user.id as rec_games  %}
  <!-- load and run the games similarity engine -->

  {% if rec_games %}
    {% for index, game in rec_games.items %}
    <div class="head-rec">
      <!-- Depending what the recommendation is based on, change the title -->
        {% if game.reason == 'posted' %}
        <h1>Because you post a lot in {{game.game}}</h1>
        {% elif game.reason == 'subscribed' %}
        <h1>Because you subscribed to a post in {{game.game}}</h1>
        {% elif game.reason == 'owned' %}
        <h1>Because you have {{game.game}} in your collection</h1>
        {% endif %}
    </div>
    <div class="container-rec">
      <!-- loop through recommended games and display them as a card here -->
      {% for index,game in game.recs.items %}
      <div class="rec-card" id="card1">
        <img class="game-img" src="{{ game.image }}" />
        <h4 class="game-title">{{ game.game }}</h4>
        <p>Complexity: {{ game.difficulty }}</p>
        <p>Rating: {{ game.rating }}</p>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  {% endif %}

</div>

{% endblock content %}
